[SMTP]
senderAddress=support@euronovate.com
smtpAddress=smtp.gmail.com
smtpPort=587
mailBreak=2
[MAIL]
body=<html><body>caro {company} questa e' una prova di invio a <a href="http:\\dev.euronovate.com\raccoltadati\cliente\{company}">{company}</a></body></html>
object=test invio mail
addresses:francesco.badio@esignworld.com
  sabrina.macavei@esignworld.com
  matteo.garato@euronovate.com
  matteo.gnoato@esignworld.com
