[SMTP]
senderAddress=testmailsenderburn@gmail.com
smtpAddress=smtp.gmail.com
smtpPort=587
mailBreak=2
[MAIL]
body=caro {company} questa e' una prova di invio a http:\\dev.euronovate.com\raccoltadati\cliente\{company}
object=test invio mail
addresses:garato.omicron@gmail.com
  garato.matteo@hotmail.it
  matteo.garato@euronovate.com