[BOTCONFIG]
botId=416612625:AAEmyNrmYefsaLifPVzqcgm5pxwo0Yp7GhE
urls=https://webcam.cavspa.it/req/image.aspx?directory=webcam22&image=image00001.jpg&v=1553604615454,https://webcam.cavspa.it/req/image.aspx?directory=webcam12&image=image00001.jpg&v=1553604647879
urlsHighway=http://video.autostrade.it/video-mp4_hq/dt3/75cf9908-7579-459b-9803-930865fd3c75-0.mp4,http://video.autostrade.it/video-mp4_hq/dt2/b095c76f-0172-4b08-b60a-b2c83b9d60ae-6.mp4
insults=ranciate,va in cueo de to mare!,alsa el cueo e movate!,e' pronto alzati pure,assame star,moeaghe!,va in cueo va!
noToInsult=fabio,alberto,marco
speedtestUrl=speedtest.wifi4all.it:8080
